<form action="/admin/login" method="post">
    <label for="username">Usuario:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Iniciar sesión">
</form>