<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex">
        <meta name="robots" content="nofollow">
        <title>{{{ siteConfiguration.title }}}</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/adminStyles.css">
    </head>
    <body>
        <main>
            {{> site-header}}
            <hr>
            <section id="admin-list-posts-section">
                <h2>Admin Panel - Lista de Posts</h2>
                <ul>
                    {{ #posts }}
                        <li>
                            <a href="/admin/post/{{ post_id }}">
                                <h3>- {{{ title }}}</h3>
                            </a>
                        </li>
                    {{/posts}}
                    </ul>
            </section>
            <footer>
                <p>{{{ siteConfiguration.footer }}}</p>
            </footer>
        </main>
    </body>
</html>