<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{{ siteConfiguration.title }}}</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/adminStyles.css">
    </head>
    <body>
        <main>
            {{> site-header}}
            <hr>
            <section id="admin-new-post-section">
                <h2>Admin Panel - Nuevo Post</h2>
                <form action="/admin/post/new" method="post">
                    <div id="new-post-title">
                        <label for="title">T&iacute;tulo:</label>
                        <input type="text" id="title" name="title" required><br>
                    </div>
                    <div id="new-post-category">
                        <label for="category">Categor&iacute;a</label>
                        <select id="category" name="category">
                            <option value="programacion">Programaci&oacute;n</option>
                            <option value="baloncesto">Baloncesto</option>
                            <option value="cine_y_musica">Cine y M&uacute;sica</option>
                            <option value="otros">Otros</option>
                        </select>
                    </div>
                    <div id="new-post-content">
                        <textarea id="content" name="content" rows="30" cols="100" required></textarea><br>
                    </div>
                    <input type="submit" value="Guardar" class="custom-button">
                </form>
            </section>
            <footer>
                <p>{{{ siteConfiguration.footer }}}</p>
            </footer>
        </main>
    </body>
</html>