<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
        <main>
            <header id = "site-header">
                <h1>{{ siteConfiguration.title }}</h1>
                <p>{{{ siteConfiguration.description }}}</p>
            </header>
            <hr>
            <section id = "posts">
                <ul>
                {{#posts}}
                    <li>
                        <h2>{{title}}</h2>
                        <p>{{content}}</p>
                    </li>
                {{/posts}}
                </ul>
            </section>
            <footer>
                <p>{{{ footer }}}</p>
            </footer>
        </main>
    </body>
</html>