<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{{ siteConfiguration.title }}}</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
        <main>
            <header id = "site-header">
                <h1>{{{ siteConfiguration.title }}}</h1>
                <p>{{{ siteConfiguration.description }}}</p>
            </header>
            <hr>
            <section id = "last-posts">
                <h2>&Uacute;ltimas novedades:</h2>
                <ul>
                {{ #posts }}
                    <li>
                        <a href = "/post/{{ post_id }}">
                            <h3>{{{ title }}}</h3>
                            <hr>
                            <p>{{{ content }}}</p>
                        <a>
                    </li>
                {{/posts}}
                </ul>
            </section>
            {{> menu}}
            <footer>
                <p>{{{ siteConfiguration.footer }}}</p>
            </footer>
        </main>
    </body>
</html>
