<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{{ siteConfiguration.title }}}</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
        <main>
            <header id = "site-header">
                <h1>{{{ siteConfiguration.title }}}</h1>
                <p>{{{ siteConfiguration.description }}}</p>
            </header>
            <hr>
            <section id = "last-posts">
                <h2>&Uacute;ltimas novedades:</h2>
                <ul>
                {{ #posts }}
                    <a href = "/post/{{ post_id }}">
                        <li>
                            <h3>{{{ title }}}</h3>
                            <hr>
                            <p>{{{ content }}}</p>
                        </li>
                    <a>
                {{/posts}}
                </ul>
            </section>
            <aside id = "right-aside">
                <h2>Men&uacute;</h2>
                <ul>
                    <li>
                        Categor&iacute;as:
                        <hr>
                        <ul>
                            <li>- Programaci&oacute;n</li>
                            <li>- Baloncesto</li>
                            <li>- Cine y M&uacute;sica</li>
                            <li>- Otros</li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <footer>
                <p>{{{ footer }}}</p>
            </footer>
        </main>
    </body>
</html>
