<aside id = "right-aside">
    <h2>Men&uacute;</h2>
    <ul>
        <li>
            Categor&iacute;as:
            <hr>
            <ul>
                <li>- Programaci&oacute;n</li>
                <li>- Baloncesto</li>
                <li>- Cine y M&uacute;sica</li>
                <li>- Otros</li>
            </ul>
        </li>
    </ul>
</aside>