<aside id = "right-aside">
    <h2>Men&uacute;</h2>
    <ul>
        <li>
            Categor&iacute;as:
            <hr>
            <ul>
                <li><a href="/post/category/programacion">- Programaci&oacute;n</a></li>
                <li><a href="/post/category/baloncesto">- Baloncesto</a></li>
                <li><a href="/post/category/entretenimiento">- Entretenimiento</a></li>
                <li><a href="/post/category/otros">- Otros</a></li>
            </ul>
        </li>
    </ul>
</aside>