<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{{ post.title }}}</title>
        <script src="/js/prism.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/prism.css">
    </head>
    <body>
        <main>
            {{> site-header}}
            <hr>
            <section id="center-section">
                <section id = "post">
                    <article>
                        <h2>{{{ post.title }}}</h2>
                        <hr>
                        <p>{{{ post.content }}}</p>
                    </article>
                </section>
                <section id="comments">
                    <h2>Comentarios:</h2>
                    <form action="/comment/new" method="post">
                        <div id="comment-email">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" size="82" required><br>
                        </div>
                            <div id="comment-content">
                            <textarea id="content" name="content" rows="15" cols="100" required></textarea><br>
                        </div>
                        <input type="submit" value="Enviar" class="custom-button">
                    </form>
                </section>
            </section>
            {{> menu}}
            <footer>
                <p>{{{ siteConfiguration.footer }}}</p>
            </footer>
        </main>
    </body>
</html>