<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{{ post.title }}}</title>
        <script src="/js/prism.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/prism.css">
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var sendButton = document.getElementById("send-comment");

                sendButton.addEventListener("click", function() {
                    var email = document.getElementById("email").value;
                    var name = document.getElementById("name").value;
                    var content = document.getElementById("content").value;
                    var postId = getCurrentPostId();
                    
                    var request = {
                        email: email,
                        name: name,
                        content: content,
                        postId: postId
                    };

                    var requestOptions = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        body: JSON.stringify(request)
                    }

                    fetch ('/api/comment/save', requestOptions)
                        .then(response => response.json())
                        .then(data => {
                            console.log(`response: ${JSON.stringify(data)}`);
                        })
                        .catch(error => {
                            console.log(`Error saving comment: ${error}`);
                        });
                });
            });

            function getCurrentPostId() {
                    var url = new URL(window.location.href);

                    var pathArray = url.pathname.split('/');
                    return pathArray.pop();
            }
        </script>
    </head>
    <body>
        <main>
            {{> site-header}}
            <hr>
            <section id="center-section">
                <section id = "post">
                    <article>
                        <h2>{{{ post.title }}}</h2>
                        <hr>
                        <p>{{{ post.content }}}</p>
                    </article>
                </section>
                <section id="comments">
                    <h2>Comentarios:</h2>
                    <ul>
                    {{ #post.comments }}
                        <li>
                            <article>
                                <p class="comments-content">{{{ content }}}</p>
                                <p class="comments-data">Publicado por {{{ name }}} el {{{ date }}}</p>
                            </article>
                        </li>
                    {{/post.comments}}
                    </ul>

                    <div id="comment-email">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" size="82" required><br>
                    </div>
                    <div id="comment-name">
                        <label for="name">Nombre:</label>
                        <input type="text" id="name" name="name" size="82" required><br>
                    </div>
                    <div id="comment-content">
                        <textarea id="content" name="content" rows="15" cols="100" required></textarea><br>
                    </div>
                    <button id="send-comment" class="custom-button">Enviar</button>
                </section>
            </section>
            {{> menu}}
            <footer>
                <p>{{{ siteConfiguration.footer }}}</p>
            </footer>
        </main>
    </body>
</html>