<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{{ post.title }}}</title>
        <script src="/js/prism.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/prism.css">
    </head>
    <body>
        <main>
            {{> site-header}}
            <hr>
            <section id = "post">
                <article>
                    <h2>{{{ post.title }}}</h2>
                    <hr>
                    <p>{{{ post.content }}}</p>
                </article>
            </section>
            {{> menu}}
            <footer>
                <p>{{{ siteConfiguration.footer }}}</p>
            </footer>
        </main>
    </body>
</html>