<div id="responsive-menu-icon" onclick="toggleList()">☰</div>
<div id = "responsive-menu">
    <ul id="responsive-menu-list">
        <li>
            Categor&iacute;as:
            <hr>
            <ul>
                <li><a href="/post/category/programacion">- Programaci&oacute;n</a></li>
                <li><a href="/post/category/baloncesto">- Baloncesto</a></li>
                <li><a href="/post/category/entretenimiento">- Entretenimiento</a></li>
                <li><a href="/post/category/otros">- Otros</a></li>
            </ul>
        </li>
    </ul>
</div>

<script>
function toggleList() {
    var lista = document.getElementById("responsive-menu-list");
    lista.style.display = (lista.style.display === "block") ? "none" : "block";
}
</script>