html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    top: 90%;
    font-size: 15px;
    text-align: center;
    background: #035dc1;
    color: white;
    padding-top: 10px;
}

hr {
    border: none;
    height: 1px;
    background: darkgrey;
}

.custom-button {
    background: #035dc1;
    color: white;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px; 
}

#site-header {
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 5px;
}

#site-header a:link {
    text-decoration: none;
    color: #035dc1;
}

#site-header a:active {
    text-decoration: none;
    color: #035dc1;
}

#site-header a:visited {
    text-decoration: none;
    color: #035dc1;
}

#site-header a:hover {
    text-decoration: none;
    color: lightblue;
}

#site-header h1 {
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-shadow: 2px 2px 2px darkgrey;
}

#site-header p {
    font-size: 20px;
    color: darkgrey;
    margin-top: 10px;
}

#last-posts {
    float: left;
    width: 70%;
    height: 100%;
    padding-bottom: 100px;
}

#last-posts h2, ul {
    padding-left: 100px;
    padding-right: 100px;
}

#last-posts h2 {
    color: darkgrey;
}

#last-posts ul {
    list-style-type: none;
}

#last-posts li:nth-child(even) {
    background: #f3f3f3;
}

#last-posts li:nth-child(odd) {
    background: white;
}

#last-posts li {
    list-style-type: none;
    border: 1px solid darkgrey;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px black;
    line-height: 1.4em;
}

#last-posts li a:link {
    text-decoration: none;
}

#last-posts li a:link {
    text-decoration: none;
}

#last-posts li a h3 {
    color: #035dc1;
}

#last-posts li a p {
    color: black;
}

#post {
    float: left;
    width: 70%;
    height: 100%;
    padding-bottom: 100px;
}

#post article {
    border: 1px solid darkgrey;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px black;
    margin-left: 100px;
    margin-right: 100px;
}

#post h2 {
    color: #035dc1;
}

#post p {
    color: black;
    line-height: 1.4em;
}

#right-aside {
    float: left;
    height: 100%;
    width: 29%;
    border-left: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}

#right-aside h2 {
    padding-left: 20px;
}

#right-aside ul {
    list-style-type: none;
    padding-left: 40px;
}

#right-aside li {
    padding-bottom: 10px;
}